@font-face {
	font-family: "Bootstrap-Icons";
	src: url("../fonts/bootstrap-icons.woff") format("woff"),
		url("../fonts/bootstrap-icons.woff2") format("woff2");
}

@font-face {
	font-family: "B612";
	src: url("../fonts/B612-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "B612";
	src: url("../fonts/B612-Bold.ttf") format("truetype");
	font-weight: bold;
}

* {
	--text-color: #000;
	--primary-color: #38023b;
	--secondary-color: #a288e3;
	--tertiary-color: #bbd5ed;
	--quad-color: #cefdff;
	--fifth-color: #ccffcb;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.body {
	background-color: var(--tertiary-color);
	font-family: "B612", sans-serif;
	min-height: 100svh;
}

.title {
	display: flex;
	font-size: 3rem;
	justify-content: center;
	text-decoration: underline;
	margin: 4rem;

	animation: breathe-up-down 4s linear infinite;
}

.flex {
	display: flex;
}

.flex-vert {
	flex-direction: column;
}

.flex-center {
	align-items: center;
}

.hidden {
	display: none; 
}

.btn {
	margin: 1rem;
	border-color: var(--primary-color);
	background-color: var(--secondary-color);
	color: var(--text-color);

	&:hover {
		color: var(--quad-color);
		border-color: var(--secondary-color);
		background-color: var(--primary-color);
	}

	&.btn-dialogue {
		font-size: 1.15rem;
		padding: .25rem .5rem;
		&.btn-accept {
			background-color: #9BFF99;
			&:hover {
				background-color: var(--fifth-color);
			}
		}
		&.btn-cancel {
			background-color: #DB5856;
		}
	}

	&.btn-link {
		transition: 200ms ease-in-out;
		max-width: 800px;
		width: 80svw;
		padding: 0.5rem;
		cursor: pointer;
	}
}

.btn-pill {
	border-radius: 9999999999px;
	font-weight: bold;
	font-size: 1.25rem;

	&::before {
		font-family: Bootstrap-Icons;
		font-weight: 400;
		display: inline-block;
		transform: translateY(10%);
		margin-right: 0.5em;
	}
}

.a {
	cursor: default;

	&:focus {
		border: none;
		outline: none;
		& .btn {
			outline-color: var(--fifth-color);
			border-color: var(--fifth-color);
		}
	}
}

#portfolio::before {
	content: "\F3EE";
}

#github::before {
	content: "\F3ED";
}

#itchio::before {
	content: "\F448";
}

#linkedin::before {
	content: "\F472";
}

#travelling::before {
	content: "\F81C";
}

#mastodon::before {
	content: "\F647";
}

#instagram::before {
	content: "\F437";
	font-weight: bold;
}

.footer {
	background-color: var(--fifth-color);
	margin: auto 0 0 0;
	padding: 1.5rem;
	width: 100svw;

	& a {
		text-decoration: none;
		color: var(--primary-color);
	}
}

#copyright {
	font-family: Bootstrap-Icons;
	padding-right: 0.5em;
}

.center {
	justify-content: center;
}

.modal-background {
	background-color: rgba($color: #000, $alpha: .7);
	width: 100svw;
	height: 100svh;
	position: absolute;

	z-index: 3;
}

.modal-container {
	background-color: var(--secondary-color);
	border: 5px solid var(--primary-color);
	border-radius: 15px;
	position: relative;

	justify-content: center;

	width: 25svw;
	height: 25svh;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@keyframes breathe-up-down {
	0% {
		transform: translateY(0%);
	}

	25% {
		transform: translateY(15%);
	}

	50% {
		transform: translateY(0%);
	}

	75% {
		transform: translateY(-15%);
	}

	100% {
		transform: translateY(0%);
	}
}
