@font-face {
	font-family: "Bootstrap-Icons";
	src: url("../fonts/bootstrap-icons.woff") format("woff"),
		url("../fonts/bootstrap-icons.woff2") format("woff2");
}

@font-face {
	font-family: "B612";
	src: url("../fonts/B612-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "B612";
	src: url("../fonts/B612-Bold.ttf") format("truetype");
	font-weight: bold;
}

* {
	--text-color: #000;
	--primary-color: #38023b;
	--secondary-color: #a288e3;
	--tertiary-color: #bbd5ed;
	--quad-color: #cefdff;
	--fifth-color: #ccffcb;
	box-sizing: border-box;
}

.body {
	background-color: var(--tertiary-color);
	font-family: "B612", sans-serif;
}

.title {
	display: flex;
	font-size: 3rem;
	justify-content: center;
	text-decoration: underline;
	margin: 4rem;

	animation: breathe-up-down 4s linear infinite;
}

.flex {
	display: flex;
}

.flex-vert {
	flex-direction: column;
}

.flex-center {
	align-items: center;
}

.btn {
	margin: 1rem;
	border-color: var(--primary-color);
	background-color: var(--secondary-color);
	color: var(--text-color);
	transition: 200ms ease-in-out;
	max-width: 800px;
	width: 80svw;
	padding: 0.5rem;

	&:hover {
		color: var(--quad-color);
		border-color: var(--secondary-color);
		background-color: var(--primary-color);
	}
}

.btn-pill {
	border-radius: 9999999999px;
	font-weight: bold;
	font-size: 1.25rem;

	&::before {
		font-family: Bootstrap-Icons;
		font-weight: 400;
		display: inline-block;
		transform: translateY(10%);
		margin-right: 0.5em;
	}
}

#portfolio::before {
	content: "\F3EE";
}

#github::before {
	content: "\F3ED";
}

#itchio::before {
	content: "\F448";
}

#linkedin::before {
	content: "\F472";
}

#travelling::before {
	content: "\F81C";
}

#mastodon::before {
	content: "\F647";
}

#instagram::before {
	content: "\F437";
	font-weight: bold;
}

@keyframes breathe-up-down {
	0% {
		transform: translateY(0%);
	}

	25% {
		transform: translateY(15%);
	}

	50% {
		transform: translateY(0%);
	}

	75% {
		transform: translateY(-15%);
	}

	100% {
		transform: translateY(0%);
	}
}
